---
import { Icon } from "astro-icon/components";
import { formatDateToYYYYMMDD } from "../utils/date-utils";

interface Props {
	class: string;
	published: Date;
	updated?: Date;
	hideUpdateDate?: boolean;
	hidePublishedDate?: boolean;
	slug?: string;
}
const {
	published,
	updated,
	hideUpdateDate = false,
	hidePublishedDate = false,
	slug,
} = Astro.props;
const className = Astro.props.class;
---

<div class:list={["flex flex-wrap text-neutral-500 dark:text-neutral-400 items-center gap-4 gap-x-4 gap-y-2", className]}>
    <!-- publish date -->
    {!hidePublishedDate && (
        <div class="flex items-center">
            <div class="meta-icon">
                <Icon name="material-symbols:calendar-today-outline-rounded" class="text-xl"></Icon>
            </div>
            <span class="text-50 text-sm font-medium">{formatDateToYYYYMMDD(published)}</span>
        </div>
    )}

    <!-- update date -->
    {!hideUpdateDate && updated && updated.getTime() !== published.getTime() && (
        <div class="flex items-center">
            <div class="meta-icon"
            >
                <Icon name="material-symbols:edit-calendar-outline-rounded" class="text-xl"></Icon>
            </div>
            <span class="text-50 text-sm font-medium">{formatDateToYYYYMMDD(updated)}</span>
        </div>
    )}

    <!-- page views & visitors -->
    {slug && (
        <>
            <div class="flex items-center">
                <div class="meta-icon">
                    <Icon name="material-symbols:visibility-outline-rounded" class="text-xl"></Icon>
                </div>
                <span class="text-50 text-sm font-medium" id={`page-views-${slug}`}>0 次</span>
            </div>
            <div class="flex items-center">
                <div class="meta-icon">
                    <Icon name="material-symbols:person" class="text-xl"></Icon>
                </div>
                <span class="text-50 text-sm font-medium" id={`page-visitors-${slug}`}>0 人</span>
            </div>
        </>
    )}
</div>
